<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="description" content="Assignment Container">
        <title>Assignment 2</title>
        <link rel="icon" href="../resources/PotatOS.png" type="image/svg+xml">
        
    </head>

    <body>

        <svg width="auto" height="300">

            <rect width="100%" height="300" fill="#507d2a"/>
            <polygon points="25 145, 125 145, 125 160, 25 160" fill="black"/>
            <rect x="160" y="5" width="15" height="100" fill="black" stroke-width="15"/>
            <rect x="160" y="195" width="15" height="100" fill="black" stroke-width="15"/>
            <rect x="220" y="145" width="100" height="15" fill="black" stroke-width="15"/>
            <circle cx="170" cy="150" r="100" stroke="black" fill="transparent" stroke-width="15"/>
            <circle cx="170" cy="150" r="25" fill="black"/>
            
        </svg>

        <nav class="menue">

            <ul>
                <li><a href="../index.html" target="self">index.html</a></li>
                <li><a href="./two.html" target="self">two.html</a></li>
                <li><a href="./three.html" target="self">three.html</a></li>
            </ul>

        </nav>

        <h1>SVG Animation is easy!</h1>

        <img
            src="../resources/page-three.svg"
            alt="Circle Moving Around a Square"
            height="500"
            width="500" 
        />

    </body>
    
</html>