<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Assignment Container">
        <title>Assignment 2</title>
        <style>
            table, th, td 
            {
              border: 1px solid black;
            }
        </style>
        <link rel="icon" href="../resources/PotatOS.png" type="image/svg+xml">
    </head>

    <body>

        <svg width="auto" height="300">

            <rect width="100%" height="300" fill="#507d2a"/>
            <polygon points="25 145, 125 145, 125 160, 25 160" fill="black"/>
            <rect x="160" y="5" width="15" height="100" fill="black" stroke-width="15"/>
            <rect x="160" y="195" width="15" height="100" fill="black" stroke-width="15"/>
            <rect x="220" y="145" width="100" height="15" fill="black" stroke-width="15"/>
            <circle cx="170" cy="150" r="100" stroke="black" fill="transparent" stroke-width="15"/>
            <circle cx="170" cy="150" r="25" fill="black"/>
            
        </svg>

        <nav class="menue">

            <ul>

                <li><a href="../index.html" target="self">index.html</a></li>
                <li><a href="./two.html" target="self">two.html</a></li>
                <li><a href="./three.html" target="self">three.html</a></li>

            </ul>

        </nav>
        
        <table>

            <caption>List of My Favorite Coding Resources</caption>

            <thead>

                <tr>

                    <td colspan="2"></td>

                    <th scope="col">Name</th>
                    <th scope="col">url</th>
            
                </tr>

            </thead>

            <tbody>

                <tr>

                    <th colspan="2" rowspan="3" scope="rowgroup">Resources</th>
                    <td>GeeksforGeeks</td>
                    <td><a href="https://www.geeksforgeeks.org/">https://www.geeksforgeeks.org/</a></td>

                </tr>

                <tr>

                    <td>Reddit</td>
                    <td><a href="https://www.reddit.com/">https://www.reddit.com/</a></td>
                
                </tr>

                    <td>stackoverflow</td>
                    <td><a href="https://stackoverflow.com/">https://stackoverflow.com/</a></td>
                
                </tr>
              
            </tbody>

        </table>
        
    </body>

</html>